body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #3e3e3d;
  color: #f5f5dc;
}

h1 {
  writing-mode: vertical-rl;
  font-size: 6rem;
  padding: 0;
  margin: 0;
  position: absolute;
  color: rgba(26, 26, 25, 0.582);
}

h3 {
  text-transform: uppercase;
  font-size: 18px;
}

section {
  display: flex;
  justify-content: space-evenly;
}

#udgifter1 {
  display: flex;
}

div {
  padding: 15px;
}

input {
  font-family: "Poppins", sans-serif;
  padding: 7px;
  font-size: 16px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #f5f5dca6;
  background-color: #3e3e3d;
  color: #f5f5dc;
  border-style: solid;
  border-radius: 0px;
  transition: 0.5s;
}
input:hover {
  border-color: #fff;
}
input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Poppins", sans-serif;
  color: #f5f5dca6;
}

button {
  font-family: "Poppins", sans-serif;
  padding: 5px 17px;
  font-size: 18px;
  text-transform: uppercase;
  outline: 0;
  border-width: 2px;
  border-color: #f5f5dca6;
  background-color: #3e3e3d;
  color: #f5f5dc;
  border-style: solid;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  border-color: #fff;
  color: #fff;
}

button:focus {
  outline: none;
}

@media screen and (max-width: 1000px) {
  html,
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }

  h1 {
    left: 260px;
    font-size: 6rem;
  }

  #udgifter {
    display: flex;
    flex-direction: column;
  }

  section {
    display: flex;
    width: 255px;
  }

  div {
    padding: 5px;
  }
}
